* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "Outfit", sans-serif;
}

:root {
  --primary-bg-color: hsl(0, 0%, 100%);
  --secondary-bg-color: hsl(212, 45%, 89%);
}

section {
  max-width: 1440px;
  height: 100vh;
  margin: 0 auto;
  background: var(--secondary-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.qr-container {
  background-color: var(--primary-bg-color);
  max-width: 300px;
  height: auto;
  margin: 0 auto;
  padding: 12px;
  overflow: hidden;
  text-align: center;
  border-radius: 15px;
  margin-top: 50px;
  margin-bottom: 20px;
  box-shadow: 2px 4px 15px 6px rgba(0, 0, 0, 0.2);
}

.qr-image {
  max-width: 400px;
  margin: 0 auto;
  /* padding: 20px; */
}

.qr-image img {
  width: 100%;
  margin: 0 auto;
  border-radius: 10px;
}

.text h1,
p,
a {
  color: #000;
}

.text h1 {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.3rem;
  margin-top: 1rem;
  margin-bottom: 1.2rem;
}

.text p {
  font-size: 15px;
  padding: 0px 5px;
  font-weight: 400;
  margin-bottom: 1rem;
}
