* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

:root {
  --primary-bg-color: hsl(47, 88%, 63%);
  --secondary-bg-color: hsl(0, 0%, 100%);
  --primary-txt-color: hsl(0, 0%, 7%);
  --secondary-txt-color: hsl(0, 0%, 42%);
}

section {
  max-width: 1440px;
  min-height: 100vh;
  background-color: var(--primary-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.card {
  max-width: 350px;
  height: fit-content;
  background-color: var(--secondary-bg-color);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 0px 0px rgb(0, 0, 0);
}

.card-img {
  width: 100%;
  margin-bottom: 15px;
}

.card-img img {
  display: block;
  width: 100%;
  border-radius: 10px;
}

.text-content {
  margin-bottom: 10px;
}

.tag {
  color: var(--primary-txt-color);
  font-weight: 900;
  background-color: var(--primary-bg-color);
  display: inline-block;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.date {
  color: var(--secondary-txt-color);
  font-size: 15px;
  margin-bottom: 7px;
}

.card-head {
  color: var(--primary-txt-color);
  font-weight: 800;
  font-size: 25px;
  margin-bottom: 5px;
}
.card-head:hover {
  color: var(--primary-bg-color);
  cursor: pointer;
}

.card-para {
  color: var(--secondary-txt-color);
  font-weight: 400;
  font-size: 15px;
}

.author {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px 0 20px 0;
}

.author img {
  width: 40px;
}
